services:
  cloudflare:
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: cloudflare
    image: cloudflare/cloudflared:latest
    pull_policy: always
    restart: unless-stopped
    command: tunnel run
    networks:
      - homelab
      - mediaserver
      - portainer_bridge
    environment:
      - TUNNEL_TOKEN=$TUNNEL_TOKEN

  cloudflare-ddns:
    container_name: cloudflare-ddns
    image: favonia/cloudflare-ddns:latest
    pull_policy: always
    network_mode: host
    restart: always
    user: "1000:1000"
    read_only: true
    cap_drop: [all]
    security_opt: [no-new-privileges:true]
    environment:
      - CLOUDFLARE_API_TOKEN=$CLOUDFLARE_API_TOKEN
      - DOMAINS=vpn.tofusito.org,jelly.tofusito.org
      - PROXIED=false
      - IP6_PROVIDER=none

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Madrid
      - WATCHTOWER_CLEANUP=true                                        
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_SCHEDULE=10 21 * * *
      - WATCHTOWER_LABEL_ENABLE=true
      
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/tofu/docker/uk/data:/app/data
    ports:
      - 3002:3001
    restart: unless-stopped
    networks:
      - homelab
      - mediaserver

  wireguard:
    environment:
      - WG_HOST=vpn.tofusito.org
      - PASSWORD_HASH=$WG_PASSWORD
    image: ghcr.io/wg-easy/wg-easy:latest
    pull_policy: always
    container_name: wireguard
    volumes:
      - /home/tofu/docker/wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    networks:
      - homelab
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1

networks:
  homelab:
    driver: bridge
    name: homelab
  portainer_bridge:
    external: true
  mediaserver:
    external: true