TUNNEL_TOKEN=eyJhIjoi...change-me-token...
TWINGATE_NETWORK=change-me-network
TWINGATE_ACCESS_TOKEN=change-me-access-token
TWINGATE_REFRESH_TOKEN=change-me-refresh-token
CLOUDFLARE_API_TOKEN=change-me-api-token
WG_PASSWORD='change-me-password-hash'
MY_SECRET_TOKEN=change-me-secret-token