TUNNEL_TOKEN=your_value_here
TWINGATE_NETWORK=your_value_here
TWINGATE_ACCESS_TOKEN=your_value_here
TWINGATE_REFRESH_TOKEN=your_value_here
CLOUDFLARE_API_TOKEN=your_value_here
WG_PASSWORD=your_value_here
MY_SECRET_TOKEN=your_value_here
