services:
  cloudflare-ddns:
    container_name: cloudflare-ddns
    image: favonia/cloudflare-ddns:latest
    pull_policy: always
    network_mode: host
    restart: always
    user: "1000:1000"
    read_only: true
    cap_drop: [all]
    security_opt: [no-new-privileges:true]
    environment:
      - CLOUDFLARE_API_TOKEN=$CLOUDFLARE_API_TOKEN
      - DOMAINS=vpn.tofusito.org,jelly.tofusito.org
      - PROXIED=false
      - IP6_PROVIDER=none

  wireguard:
    environment:
      - WG_HOST=vpn.tofusito.org
      - PASSWORD_HASH=$WG_PASSWORD
    image: ghcr.io/wg-easy/wg-easy:latest
    pull_policy: always
    container_name: wireguard
    volumes:
      - /home/tofu/docker/wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    networks:
      - vpn
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1

networks:
  vpn:
    driver: bridge
    name: vpn