OPENVPN_USER=your_protonvpn_openvpn_user
OPENVPN_PASSWORD=your_protonvpn_openvpn_password
RADARR_API_KEY=your_radarr_api_key
SONARR_API_KEY=your_sonarr_api_key
TUNNEL_TOKEN=your_cloudflare_tunnel_token_here
