DOMAIN_NAME=your_domain.org
GENERIC_TIMEZONE=Europe/Madrid
HA_TOKEN=your_home_assistant_long_lived_token
HA_URL=http://your_ha_ip:8123/mcp_server/sse
SUBDOMAIN=n8n
TUNNEL_TOKEN=your_cloudflare_tunnel_token_here
