DOMAIN_NAME=example.com
SUBDOMAIN=n8n
GENERIC_TIMEZONE=Europe/Madrid
SSL_EMAIL=email@example.com
TUNNEL_TOKEN=eyJhIjoi...change-me-token...
HA_URL=http://homeassistant:8123/mcp_server/sse
HA_TOKEN=eyJhIjoi...change-me-token...