# Domain Configuration
DOMAIN_NAME=your_value_here
SUBDOMAIN=your_value_here
GENERIC_TIMEZONE=your_value_here
SSL_EMAIL=your_value_here

# PostgreSQL Configuration
POSTGRES_USER=your_value_here
POSTGRES_PASSWORD=your_value_here
POSTGRES_DB=your_value_here

# Cloudflare Tunnel Token
TUNNEL_TOKEN=your_value_here
