DEEPSEEK_API_KEY=change_me
DEEPSEEK_BASE_URL=https://example.com
GATEWAY_ALLOW_ALL_USERS=false
HA_TOKEN=change_me
HA_URL=https://example.com
HERMES_DATA_DIR=/home/tofu/docker/hermes/hermes_data_dir
HERMES_VAULT_DIR=/home/tofu/docker/hermes/hermes_vault_dir
KIMI_API_KEY=change_me
KIMI_BASE_URL=https://example.com
TELEGRAM_ALLOWED_USERS=change_me
TELEGRAM_BOT_TOKEN=change_me
TZ=Europe/Madrid
