services:
  cloudflare-maintenance:
    labels:
      - com.centurylinklabs.watchtower.enable=true
    container_name: cloudflare-maintenance
    image: cloudflare/cloudflared:latest
    pull_policy: always
    restart: unless-stopped
    command: tunnel run
    networks:
      - maintenance
      - mediaserver
      - portainer_bridge
    environment:
      - TUNNEL_TOKEN=$TUNNEL_TOKEN

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Europe/Madrid
      - WATCHTOWER_CLEANUP=true                                        
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - WATCHTOWER_SCHEDULE=10 21 * * *
      - WATCHTOWER_LABEL_ENABLE=true
      
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/tofu/docker/uk/data:/app/data
    ports:
      - 3002:3001
    restart: unless-stopped
    networks:
      - maintenance
      - mediaserver

networks:
  maintenance:
    driver: bridge
    name: maintenance
  portainer_bridge:
    external: true
  mediaserver:
    external: true